//theme
$theme-documentBg: #0f308c;
$theme-formBg: #ffffff;
$theme-boxShadow: 22px 22px 35px 9px #ffffffff;
$theme-hintTextColor: #3333339a;
$theme-primaryGradient: linear-gradient(45deg, #0004ff, #237bff);
$theme-textColor: #ffffff;
$theme-textColor-accent: #b3e5fc;
$theme-primary: #0000d7;
$theme-primary-light: #0288d1;

//states
$theme-state-success: #009d05;
$theme-state-info: #1264df;
$theme-state-warning: #ffb107;
$theme-state-error: #dd1111;

//times
$time-inputAnimation: 0.21s;
$time-hintShowTime: 300ms;
