@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Fira+Sans:ital,wght@1,300&family=Plus+Jakarta+Sans:wght@500&family=Source+Serif+Pro:ital,wght@1,300&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  background: #0f308c;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.container form {
  background: #ffffff;
  border-radius: 1em;
  width: 485px;
  height: auto;
  overflow: hidden;
  box-shadow: 22px 22px 35px 9px white;
}
.container form * {
  outline: none;
}
.container form #submit {
  cursor: pointer;
  display: block;
  position: relative;
  margin-left: auto;
  background: linear-gradient(45deg, #0004ff, #237bff);
  border: 0;
  appearance: none;
  width: 150px;
  height: 40px;
  color: #ffffff;
  border-radius: 8px;
  font-size: 17px;
  transition: 0.225s ease-in;
}
.container form #submit:focus, .container form #submit:hover {
  color: #ffffff;
  box-shadow: 22px 22px 35px 9px white;
}
.container form .showhide-pass {
  display: inline;
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background: linear-gradient(45deg, #0004ff, #237bff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.container form .content {
  width: 350px;
  text-align: center;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
.container form .line:not(.rules-line) {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 35px;
  position: relative;
}
.container form .rules-line {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 10px;
  display: block;
  height: 15px;
  width: 100%;
  text-align: left;
  position: relative;
}
.container form .description {
  font-size: 17px;
  color: rgba(51, 51, 51, 0.6039215686);
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.21s linear;
  cursor: text;
  transform-origin: 0 0;
  pointer-events: none;
}
.container form .underline {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #0288d1;
  transition: width 0.21s ease-in-out;
}
.container form .inputBox {
  flex: 1;
  position: relative;
  width: 100%;
}
.container form .icon {
  margin-right: 8px;
  font-size: 22px;
  color: transparent;
  background: linear-gradient(45deg, #0004ff, #237bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form input[type=password],
.container form input[type=text],
.container form input[type=email] {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 3px solid #0000d7;
  font-size: 15px;
  box-sizing: border-box;
}
.container form input[type=password]:focus + label.description, .container form input[type=password]:not(:placeholder-shown) + label.description,
.container form input[type=text]:focus + label.description,
.container form input[type=text]:not(:placeholder-shown) + label.description,
.container form input[type=email]:focus + label.description,
.container form input[type=email]:not(:placeholder-shown) + label.description {
  transform: scale(0.72) translateY(-100%);
  font-weight: 800;
  color: #0000d7;
}
.container form input[type=password].incorrectData + label.description,
.container form input[type=text].incorrectData + label.description,
.container form input[type=email].incorrectData + label.description {
  color: #dd1111;
}
.container form input[type=password].incorrectData,
.container form input[type=text].incorrectData,
.container form input[type=email].incorrectData {
  border-bottom-color: #dd1111;
}
.container form input[type=password]:focus ~ .underline,
.container form input[type=text]:focus ~ .underline,
.container form input[type=email]:focus ~ .underline {
  width: 100%;
}
.container form input[type=password].incorrectData ~ .underline,
.container form input[type=text].incorrectData ~ .underline,
.container form input[type=email].incorrectData ~ .underline {
  background-color: #f36161;
}
.container form .hint {
  background: rgba(0, 0, 0, 0.062745098);
  border: 0;
  border-left: 7px;
  border-style: solid;
  border-image: linear-gradient(45deg, #0004ff, #237bff);
  border-image-slice: 1;
  border-radius: 0 15px 15px 0;
  position: relative;
  display: none;
  margin-bottom: 15px;
  margin-top: -7px;
  width: 85%;
  box-sizing: border-box;
  text-align: left;
  padding: 7px;
  padding-left: 10px;
  margin-inline: auto;
  animation: sildeInAnimation 300ms ease-out;
}
.container form .hint p {
  margin-top: 6px;
  margin-bottom: 6px;
}
.container form .hint p i {
  margin-right: 7px;
}
.container form .hint p.met {
  color: #009d05;
}
.container form .hint p.notMet {
  color: #dd1111;
}
.container .password {
  padding-right: 29px;
}
.container #messageContaier {
  position: relative;
  margin-bottom: 7px;
  justify-content: center;
  width: 100%;
}
.container #messageContaier #messageBox {
  border: 1px solid #960c0c;
  margin: 10px 0px;
  margin-top: -10px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 35px;
  border-radius: 13px;
  width: 250px;
  text-align: left;
  color: #dd1111;
  background-color: #f68c8c;
  background-image: url("/img/errorIcon.png");
  display: block;
  position: relative;
  box-sizing: content-box;
  animation: slideInAnimation 300ms ease-out;
}
.container #messageContaier #messageBox .title {
  font-size: 18px;
  font-weight: 900;
  color: #d81111;
}
.container .formHeader {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  position: relative;
  background: linear-gradient(45deg, #0004ff, #237bff);
}
.container .formHeader h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0;
  transition: 0.2s ease-in-out;
  vertical-align: middle;
  line-height: 50px;
  font-size: 30px;
  cursor: default;
}
.container .formHeader h1:hover {
  letter-spacing: 0.2em;
}
.container .formFooter {
  display: block;
  position: relative;
  bottom: 0;
  margin: 25px 0 10px 7px;
  font-family: "Arima Madurai", cursive;
  font-size: 18px;
  color: black;
}
.container .formFooter a {
  color: #0000d7;
}
.container .formFooter a:visited, .container .formFooter a:link {
  color: #0000d7;
  text-decoration: underline;
}

@keyframes sildeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(7em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
