body,
html {
  margin: 0;
  padding: 0;
  background: #0f308c;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.container .content {
  display: block;
}
