<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatapp - weryfikafcja</title>
    <link rel="stylesheet" type="text/css" href="/style/logregMain.css" />
    <link rel="shortcut icon" href="/img/docIcon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="content">Aby zobaczyć treść musisz się zalogować</div>
    </div>
  </body>
</html>
